:root{
  --peach: #f97072;
  --blue: #060e6c;
  --dark-blue: #151932;
  --bluish-gray: #d7e0ff;
  --input-gray: #eef1fa;
  --font-1: "Google sans", sans-serif;
  --cyan: #70f2f8;
  --purple: #da81f8;
   --accent: #d24a4e;
  --todo-bg-main: hsl(235, 24%, 19%);
  --c-active: #275EFE;
  --c-active-inner: #FFFFFF;
  --c-default: #D2D6E9;
  --c-default-dark: #C7CBDF;
  --c-black: #1B1B22;
  --light-gray: hsl(234, 11%, 52%);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgb(185, 185, 189), #006eff);
  display: grid;
  place-items: center;
  font-family: var(--font-1);
  overflow: hidden;
}
